/**
    * @name DiscordTweaks
    * @version 1.0.0
    * @description Adds a few nice tweaks to discord
    * @author LiquidDev#5169
**/

@import url(https://thinliquid.github.io/bd-themes-v2/DiscordTweaks/source.css);
