/**
    * @name DiscordAmoled+
    * @version 1.0.0
    * @description Makes Discord AMOLED compatible, with a few tweaks.
    * @author LiquidDev#5169
**/

@import url(https://thinliquid.github.io/bd-themes-v2/DiscordAmoled+/source.css);
